<div class="card" style="max-height: 25rem; max-width: 54rem;">

    <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">@Title</h5>
        <p class="card-text">@Content</p>
    </div>

</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Content { get; set; }

    [Parameter]
    public DateTime CreatedOn { get; set; }
}