<footer style=" position: absolute;
                   left: 0;
                   bottom: 0;
                   width: 100%;
                   overflow: hidden;
                 ">

    <div class="footer-copyright text-center py-2" style="font-size: small; background-color: purple;">
        <div style="color:  #dadada;">
            <text> © 2022 Copyright: .NET blog</text>
        </div>
    </div>
</footer>