<footer style=" position: absolute;
                   left: 0;
                   bottom: 0;
                   width: 100%;
                   overflow: hidden;
                   margin-top: 1rem">

    <div class="footer-copyright text-center py-2" style="font-size: small; background-color: purple; margin-top: 2rem">
        <div style="color: white">
            <text> © 2022 Copyright: .NET blog</text>
        </div>
    </div>
</footer>