<footer style=" position: absolute;
                   left: 0;
                   bottom: 0;
                   width: 100%;
                   overflow: hidden;">

    <div class="footer-copyright text-center py-2" style="font-size: small; background-color: purple; font-weight: bold; margin-top: 2rem">
        © 2022 Copyright:
        <text>.NET blog</text>
    </div>
</footer>