@using DotNetBlog.Web.Data
@inherits LayoutComponentBase
@inject ThemeProvider _ThemeProvider;

<PageTitle>DotNetBlog.Web</PageTitle>

<NavMenu OnThemeChanged="@OnThemeChanged"/>
<div class="page" style="margin-bottom: 2rem;">

    <main class="@_ThemeProvider.GetStyle()">

        <article class="content px-4">
            @Body
        </article>

    </main>

</div>
<Footer></Footer>

@code
{
    private void OnThemeChanged()
    {
        StateHasChanged();
    }
}