<div class="card" style="max-height: 25rem; max-width: 54rem;">

    <div class="card-body">
        <h5 class="card-title" style="font-weight: bold">@Title</h5>
        <p class="card-text">@Description</p>
    </div>

    <div class="card-footer bg-transparent border-0">
        <div class="row">
            <h6 class="small col text-muted">@AuthorName</h6>
            <h6 class="small col text-muted text-end">@MinutesToRead min</h6>
        </div>
    </div>

</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string? AuthorName { get; set; }

    [Parameter]
    public byte MinutesToRead { get; set; }

}